@use "tailwindcss";

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0f0a0f;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

#sticky-cert-1 {
  --index: 1;
}

#sticky-cert-2 {
  --index: 2;
}

#sticky-cert-3 {
  --index: 3;
}

#sticky-cert-4 {
  --index: 4;
}

#sticky-cert-5 {
  --index: 5;
}

#sticky-cert-6 {
  --index: 6;
}

.sticky-cert {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

#sticky-exp-1 {
  --index: 1;
}

#sticky-exp-2 {
  --index: 2;
}

#sticky-exp-3 {
  --index: 3;
}

#sticky-exp-4 {
  --index: 4;
}

#sticky-exp-5 {
  --index: 5;
}

#sticky-exp-6 {
  --index: 6;
}

.sticky-exp {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}
